html{
    height:100%;
    --primary-color: #2565B7;
    --secondary-color:#4384D7;
    --dark-black:#000000;
    --font-12: 12px;
}
body{
    font-family: 'Inter', sans-serif;
    color:var(--dark-black);
    height: 100%;
}
#wk-top-nav{
    height:45px;
    background: var(--white);
box-shadow: 0px 4px 19px -5px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 0px 20px;
padding: 0 30px !important;
}
.inner-wk-top-menu {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.wk-top-menu-right {
    display: flex;
}
.wk-top-minner-left {
    display: flex;
    align-items: center;
}
.wk-top-minner-left p{
   padding: 0 10px 0 0;
   font-size: var(--font-12);
   font-weight: 600;
}
.wk-top-minner-right {
    display: flex;
    align-items: center;
    margin: 0 0 0 85px;
}
.wk-top-minner-right span{
    background: var(--secondary-color);
    border: 1px solid #AFCFFF;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    font-size: var(--font-12);
    width: 25px;
    height: 25px;
    color: var(--white);
    font-weight: 600;
}
.main-wrap {
    height: calc(100% - 80px);
    display: flex;
}
#wk-top-nav .navbar-brand {
    color: #fff;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
#sidebarMenu{
    width: 220px;
    background: var(--white);
    box-shadow: 0px -5px 10px 0px #D6D6D6;
    height: 100%;
}
#sidebarMenu .nav-link {
    display: flex;
    padding: 0 14px 0 33px;
    height: 50px;
    align-items: center;
    color: var(--dark-black);
    font-size: var(--font-12);
    font-weight: 600;
    border-left:3px solid var(--white);
    position: relative;
}
#sidebarMenu .nav-link:hover {
   background-color: #F7F7F7;
}
#sidebarMenu .nav-item.active .nav-link {
    background: #EBF1FD;
    color:var(--primary-color);
    border-left:3px solid var(--secondary-color);
}

#sidebarMenu .lmenu-icon {
    padding: 0 17px 0 0;
    display: inline-flex;
}
#sidebarMenu .Hamburger-menu {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 0 0 38px;
}
#sidebarMenu .wk-sub-menu ul{
    padding: 0;
    list-style-type: none;
}
#sidebarMenu .wk-sub-menu li a{
    display: flex;
    height: 30px;
    font-size: 12px;
    color: var(--dark-black);
    align-items: center;
    padding: 0 0 0 70px;
    font-weight: 500;
    border-left: 2px solid var(--white);
    text-decoration: none;
}
#sidebarMenu .wk-sub-menu li a:hover{
    background: #F7F7F7;
}
#sidebarMenu .wk-sub-menu li a.active,
#sidebarMenu .wk-sub-menu li a:active{
    background: #EBF1FD;
    color: var(--primary-color);
    border-left: 2px solid var(--secondary-color);
}
#sidebarMenu .nav-link .sub-arrow{
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translate(0, -50%) rotate(90deg);
    -webkit-transform: translate(0, -50%) rotate(90deg);
    -ms-transform: translate(0, -50%) rotate(90deg);
    -o-transform: translate(0, -50%) rotate(90deg);
    -moz-transform: translate(0, -50%) rotate(90deg);
    transition: .2s all ease;
    -webkit-transition: .2s all ease;
    -moz-transition: .2s all ease;
    -ms-transition: .2s all ease;
}
#sidebarMenu .wk-nav-sub-menu.active .nav-link .sub-arrow{
    transform: translate(0, -50%) rotate(0deg);
    -webkit-transform: translate(0, -50%) rotate(0deg);
    -ms-transform: translate(0, -50%) rotate(0deg);
    -o-transform: translate(0, -50%) rotate(0deg);
    -moz-transform: translate(0, -50%) rotate(0deg);
}
.wk-sub-menu{
    display: none;
}
#sidebarMenu .wk-nav-sub-menu.active .wk-sub-menu{
    display: block;
}
.wk-right-side{
    width: calc(100% - 220px);
}
.nav-scroll-wrapper{
height:calc(100% - 50px);
}
.main-wrap.small-menu #sidebarMenu{
    width: 100px;
    max-width: 100px; 
}
.main-wrap.small-menu #sidebarMenu .Hamburger-menu {
    padding: 0;
    justify-content: center;
}
.main-wrap.small-menu #sidebarMenu li.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.main-wrap.small-menu #sidebarMenu .nav-link {
    display: inline-block;
    padding: 15px 0;
    height: auto;
    text-align: center;
    width: 100%;
}
.main-wrap.small-menu #sidebarMenu .lmenu-icon {
    padding: 0;
    display: block;
}
.main-wrap.small-menu .wk-right-side{
    width: calc(100% - 100px);
}
.main-wrap.small-menu #sidebarMenu .wk-sub-menu{
    position: absolute;
    bottom: 0;
    left: 100px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    min-width: 150px;
    display: none !important;
}
.main-wrap.small-menu #sidebarMenu .wk-nav-sub-menu {
position: relative;
}
.main-wrap.small-menu #sidebarMenu .wk-sub-menu li a{
    padding: 0 0 0 10px;
}
.main-wrap.small-menu #sidebarMenu .sub-arrow{
    display: none;
}
footer{
    width: 100%;
    height: 35px;
    box-shadow: 0px -1px 1px -1px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
}
footer p{
    margin: 0;
    font-size: 12px;
    text-align: right;
    width: 100%;
    padding:0 20px 0 0;
}